@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-stack: YakuHanJP,
  system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
  "Noto Sans", sans-serif,
  "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN",
  Meiryo, メイリオ;
   --font-heading: "Kaisei Decol", serif;
}

@theme {
  --color-primary: #FFCC33;
  --color-border: #d9d9d9;
  --color-text: #000000;
  --color-attention: #fb2c36;
  --color-cancel: #99a1af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-heading); 
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* html {
  scrollbar-gutter: stable;
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: var(--font-stack);
  color: var(--color-text);
  background-color: #FFF9EB;
  box-sizing: content-box;
  overflow-y: scroll;
}
